= link_to 'ログアウト', logout_path
%h1 写真一覧
= link_to '写真を新しくアップロードする', new_photo_path
%ul.photos
  - @photos&.each do |photo|
    %li.center
      %div
        = photo.title
      = image_tag photo.image_file, class: 'photo_image' if photo.image_file.attached?
