// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.photos {
  list-style: none;
  width: 80vw;
  display: flex;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 40px auto 0;
}
.photos li {
  margin-bottom: 25px;
}
.photos::after {
  display: block;
  content:"";
  width: 200px;
}
.photo_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  margin-bottom: 10px;
}
.photo_image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border: 1px solid #ddd;
  margin-bottom:10px;
}
